<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olivier Prieur CV/Resume</title>
    <style>
        body,
        html {
            font-size: 0.98rem;
        }

        .container-fluid {
            padding-left: 25px;
            padding-right: 25px;
        }

        .banniere {
            text-align: center;
            padding: 45px 0 5px 0;
            margin-bottom: 5px;
            background: url("/home/olivier/Symfony/portfolio-op/public/img/code-banniere-1920.png");
        }

        .banniere h1 {
            margin: 0;
            padding: 0;
            color: white;
            font-weight: bold;
            font-size: 2.7rem;
        }

        p {
            text-align: justify;
        }

        .apropos {
            font-size: 0.85rem;
            margin-bottom: 20px;
        }

        .image-identite {
            width: 100%;
            height: auto;
            max-width: 80px;
            float: left;
            margin-top: 3px;
            margin-right: 7px;
        }

        table {
            width: 100%;
        }
        table tr td h3 {
            border-bottom: 0.1rem solid;
        }

        .colonne2 h3 {
            border-bottom: 0.1rem solid;
        }
    </style>
</head>

<body>

    <div class="container-fluid">

        <div class="banniere">
            <h1>{{ user['0'].prenom }} {{ user['0'].nom }}</h1>
            <h2 style="color:white;">Développeur web backend Symfony</h2>
        </div>

        <table>
            <tr>
                <td width="50%" style="vertical-align:top;">
                    {# Colonne 1 #}
                    <div style="padding-right:5px;">
                        <p class="apropos">
                            <img class="image-identite"
                                src="/home/olivier/Symfony/portfolio-op/public/img/identite-op.jpg"
                                alt="{{ user['0'].prenom }} {{ user['0'].nom }}">
                            {{ user['0'].aPropos|slice(0,625)|raw }}
                        </p>
                        <h3>CONTACT</h3>
                        <ul>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--entypo" width="16" height="16"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20">
                                    <path
                                        d="M19.799 5.165l-2.375-1.83a1.997 1.997 0 0 0-.521-.237A2.035 2.035 0 0 0 16.336 3H9.5l.801 5h6.035c.164 0 .369-.037.566-.098s.387-.145.521-.236l2.375-1.832c.135-.091.202-.212.202-.334s-.067-.243-.201-.335zM8.5 1h-1a.5.5 0 0 0-.5.5V5H3.664c-.166 0-.37.037-.567.099c-.198.06-.387.143-.521.236L.201 7.165C.066 7.256 0 7.378 0 7.5c0 .121.066.242.201.335l2.375 1.832c.134.091.323.175.521.235c.197.061.401.098.567.098H7v8.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-17a.5.5 0 0 0-.5-.5z"
                                        fill="currentColor"></path>
                                </svg>
                                {{ user['0'].adresse }}
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--mdi" width="16" height="16"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path
                                        d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10z"
                                        fill="currentColor"></path>
                                </svg>
                                {{ user['0'].email }}
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--clarity" width="16"
                                    height="16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                                    <path
                                        d="M25 4H11a2 2 0 0 0-2 2v24a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm-6 26h-2v-2h2zm-8-4V6h14v20z"
                                        class="clr-i-solid clr-i-solid-path-1" fill="currentColor"></path>
                                </svg>
                                {{ user['0'].telephone}}
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--ph" width="16" height="16"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
                                    <path
                                        d="M216 48H40a8 8 0 0 0-8 8v144a8 8 0 0 0 8 8h20.1a72 72 0 0 1 67.9-48a40 40 0 1 1 40-40a40 40 0 0 1-40 40a72 72 0 0 1 67.9 48H216a8 8 0 0 0 8-8V56a8 8 0 0 0-8-8z"
                                        opacity=".2" fill="currentColor"></path>
                                    <path
                                        d="M216 40H40a16 16 0 0 0-16 16v144a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16zM96 120a32 32 0 1 1 32 32a32.1 32.1 0 0 1-32-32zm-23.4 80a64 64 0 0 1 110.8 0zm143.4 0h-14.7a80.1 80.1 0 0 0-43.7-42.3a48 48 0 1 0-59.2 0A80.1 80.1 0 0 0 54.7 200H40V56h176v144z"
                                        fill="currentColor"></path>
                                </svg>
                                <a style="text-decoration:none; color:black;"
                                    href="https://www.olivierprieur.fr">Portfolio :
                                    olivierprieur.fr</a>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--mdi" width="16" height="16"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"
                                        fill="currentColor"></path>
                                </svg>
                                {{ user['0'].github}}
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" class="iconify iconify--entypo-social" width="16"
                                    height="16" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20">
                                    <path
                                        d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4zM7.65 13.979H5.706V7.723H7.65v6.256zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973zm8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699v3.699z"
                                        fill="currentColor"></path>
                                </svg>
                                {{ user['0'].linkedin }}
                            </li>
                        </ul>
                        <h3>LANGUES</h3>
                        <ul>
                            <li>Anglais (courant)</li>
                            <li>Espagnol (notions)</li>
                        </ul>
                        <h3>SOFT SKILLS</h3>
                        {% for soft in softs %}
                        {{ soft.titre }},
                        {% endfor %}
                        <h3>HARD SKILLS</h3>
                        {% for hard in hards %}
                        {{ hard.titre }},
                        {% endfor %}
                        <h3>PROJETS/ACTIVITES</h3>
                        <ul>
                            {% for projet in projets %}
                                <li>
                                    <b>{{ projet.titre }}</b> : {{ projet.description }}
                                    {% if projet.url != NULL %}
                                        ({{ projet.url }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <h3>HOBBIES</h3>
                        <p>
                            {% for hobbie in hobbies %}
                                {{ hobbie.titre }},
                            {% endfor %}
                            ...
                        </p>
                    </div>
                </td>

                <td width="50%" style="vertical-align:top;">
                    {# Colonne 2 #}
                    <div class="colonne2" style="padding-left:5px;">
                        <h3>EXPERIENCES PROFESSIONNELLES</h3>
                        <ul>
                            {% for experience in experiences %}
                            <li style="padding-bottom: 10px;">
                                <b>{{ experience.titre }}</b> <span style="color:darkgrey">|
                                    {{ experience.date|date('Y') }}</span><br>
                                <span style="color:darkblue">{{ experience.lieu }}</span><br>
                                {{ experience.presentation|raw }}
                            </li>
                            {% endfor %}
                        </ul>

                        <h3>FORMATION</h3>
                        <ul>
                            {% for formation in formations %}
                            <li style="padding-bottom: 10px;">
                                <b>{{ formation.titre }}</b> <span style="color:darkgrey">|
                                    {{ formation.date|date('Y') }}</span><br>
                                <span style="color:darkblue">{{ formation.lieu }}</span><br>
                                {{ formation.presentation|raw }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

            </tr>
        </table>

    </div>

</body>

</html>